In [3]:
import math
import pandas as pd

path = 'Employee_Salaries.csv'
depts = {"ECC", "CIT", "EMS"}

In [2]:
df = pd.read_csv(path)
df.head()

,Department,Department-Division,PCN,Position Title,FLSA Status,Initial Hire Date,Date in Title,Salary
0,AGR,AGR 001 Directors Office,B.001326.1,Administrative Specialist II,Non Exempt,10-Sep-1984,01-Mar-2018,59947.94
1,AGR,AGR 001 Directors Office,B.003590,Rural Community Coordinator,Exempt,16-Aug-2003,07-Dec-2016,85765.16
2,AGR,AGR 001 Directors Office,B.004807,Director of Agriculture,Exempt,01-Oct-2008,01-Oct-2008,137517.90
3,AGR,AGR 010 Cooperative Extension Program,B.001801.1,Administrative Assistant,Non Exempt,01-Feb-2011,14-Mar-2019,38745.46
4,AGR,AGR 010 Cooperative Extension Program,B.002434.1,Administrative Assistant,Non Exempt,16-Aug-1993,16-May-1999,51521.60

In [9]:

sub_df = df[df.Department.isin(depts)].copy()
sub_df['Initial Hire Date'] = pd.to_datetime(sub_df['Initial Hire Date'], format = '%d-%b-%Y')
sub_df.Salary = sub_df.Salary.astype(int)
sub_df = sub_df[sub_df['Initial Hire Date'].dt.year >= 2010].copy()
sub_df.shape

(287, 8)

In [10]:
sub_df.groupby('Department').agg(
    tot_salary = ('Salary', 'sum')
)

            tot_salary
Department
CIT            9102142
ECC            2042698
EMS            3779570